NODE_ENV=development
PORT=8000
TZ='UTC'
MIGRATION_DB_HOST=127.0.0.1
MIGRATION_DB_PORT=5432
MIGRATION_DB_NAME=esperanto
MIGRATION_DB_USER=cap2
MIGRATION_DB_PASS=
DB_URL="postgresql://cap2@localhost/esperanto"
TEST_DB_URL="postgresql://cap2@localhost/esperanto-test"
JWT_SECRET="esperanto-jwt-secret"
